<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Tax Application - Not Found</title>
    <!--Meta Tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
    <!-- CSS -->
    <link href="../../static/css/error404.css" th:href="@{/css/error404.css}" rel="stylesheet" />
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    
    <!-- FontAwsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" 
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'/>
</head>
<body>
	<div class="jumbotron" id="jb3">
		<div class="conatiner">
			<div class="row-main">
				<div class="col-xs-6">
					<p style="text-align:center;font-size:30px;color:#FFFF"><strong>Error 404 - Page Not Found</strong></p>
					<p style="text-align:center">
						<a class="btn btn-md btn-warning active" role="button" aria-pressed="true" 
						th:href="@{/startPage}" id="btnError"><span class="fas fa-bolt"></span>HOME</a>
					</p>
				</div>
			</div>
		</div>
	</div>


	 <!--Added from Folder's Project-->
	<!-- JQUERY -->
	<script src="/js/jquery.min.js"></script>
	
    <!--JS-->
    <script src="/js/bootstrap.min.js"></script>
    
    <!--JS BUNDLE-->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>