
nav.navbar-findcond a { color: #f14444; }
nav.navbar-findcond ul.navbar-nav a { color: #17202a; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #17202a; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; }

.navbar{
	margin-bottom: 0!important;
	position: relative;
}

.navbar-brand{
	border-right: 1px solid  #95a5a6;
}


#brandImage{
	height: 60px;
	width: 60px;
}

#carouselIndex{
	max-width: 100%;
	background-color: rgba(0,0,0,.5);
	margin-top: 0px;
}